alias d="dirs -v"
for index ({1..9}) alias "$index"="cd +${index}"; unset index

alias ls="ls --color=auto -h --group-directories-first"
alias grep="grep --color=auto"
alias sc="nano ~/.config/starship.toml"
